    <div class="col-2 bg-dark sidebar pt-5 ">
          <div class="d-flex align-item-center">
      

           
            <a href="" class="logo"><img src="/img/nodejslogo2.png" alt=""></a>
      
          </div>
          <ul class="nav flex-column">
            <li class="nav-item side-item">
            
              <a class="nav-link active text-white d-flex align-items-center " aria-current="page" href="/admin/profile"
                >
                    <i class="fa-solid fa-user text-white fs-5 side-icon"></i>
                
                Profile</a
              >
            </li>
            <li class="nav-item side-item ">
            
              <a class="nav-link active text-white d-flex align-items-center " aria-current="page" href="/admin/add-blog"
                >
                    <i class="fa-solid fa-plus text-white fs-5 side-icon"></i>
                
                Add blog    </a
              >
            </li>
            <li class="nav-item side-item ">
            
              <a class="nav-link active text-white d-flex align-items-center " aria-current="page" href="/admin/blogs"
                >
                    <i class="fa-solid fa-note-sticky text-white fs-5 side-icon"></i>
                
                Blogs  </a
              >
            </li>
       
            <form action="/logout" class="logout">
          
            <button class="btn "><i class="fa-solid fa-right-from-bracket text-white"></i></button>
          </form>
          </ul>
        </div>