<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/links')  %> 
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 p-4 shadow mt-5">
                <h1 class="text-center text-danger">404 NOT FOUND</h1>
                <p class="text-danger text-center">This page does not exist</p>
            </div>
        </div>
    </div>
</body>
</html>