<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('../partials/links') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
  
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-5 shadow bg-white p-3">
                <h1>Create Account</h1>
                <p>Sign up to enjoy all features</p>
                <form action="/auth/create-account" method="post">
                    <div class="row my-3">
                        <div class="col">     <input type="text" class="form-control" placeholder="First Name" name="firstname"></div>
                        <div class="col">   <input type="text" class="form-control " placeholder="Last Name" name="lastname"></div>

                    </div>
               
               
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <input type="text" class="form-control mt-3" placeholder="Email" name="email">
                    <input type="password" class="form-control my-3" placeholder="Password" name="password">
                    <input type="password" class="form-control my-3" placeholder="Repeat Password" name="repeat_password">
                    <button class="btn btn-primary">Signup</button>
<% if (message.type === "error"){%>
<div class="alert alert-danger mt-2"><%= message.msg  %> </div>
    <% } %> 
<% if (message.type === "success"){%>
<div class="alert alert-success mt-2"><%= message.msg  %> </div>
    <% } %> 
                </form>
           <p class="mt-3">Already have an account? <a href="/login">Sign in</a></p>
            </div>
          
        </div>
    </div>


  </body>
</html>
